@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Staatliches&display=swap");

/*
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Staatliches', cursive;
*/
html {
	background: rgb(107, 107, 107);
	background: linear-gradient(176deg, rgba(107, 107, 107, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

body {
	margin: 0;
}

main {
	max-width: 1200px;
	padding: 0 20px;
	margin: auto;
	margin-top: 50px;
}

.grid-sizer,
.grid-item {
	width: 33.333333%;
}

.grid-item > div {
	padding: 5px;
	background: rgba(255, 255, 255, 1);
	border-radius: 3px;
	margin: 0 5px;
	margin-bottom: 10px;
	cursor: pointer;
}

.grid-item > div:active {
	scale: 0.98;
	transition: scale 0.2s;
}

img {
	width: 100%;
	display: block;
}

#modal-bg {
	display: none;
}

#modal-bg.open {
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	display: block;
}

#modal {
	width: 0;
	height: 0;
	background: #fff;
	position: fixed;
	margin: auto;
	left: 0;
	bottom: 0;
	right: 0;
	top: 0;
	opacity: 0;
}

#modal.open {
	border-radius: 3px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
	opacity: 1;
	transition: opacity 0.4s;
}

#modal.open img {
	width: auto;
	height: auto;
}

@media (max-width: 991.98px) {

	.grid-sizer,
	.grid-item {
		width: 50%;
	}
}

@media (max-width: 767.98px) {

	.grid-sizer,
	.grid-item {
		width: 100%;
	}
}
